
* {
  boxsizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d9d9d9;
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 75vh;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
}

.App {
  width: 600px;
  height: 450px;
  margin: auto;
  align-items: center;
  overflow: auto;
  text-align: justify;
  padding: 20px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  
}

.student-pic {
  margin: 0 20px;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
  width: 75px;
}

.student-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.student-info p {
  margin: 0 20px;
  font-size: 11px;
  color: #8c8c8c;
  font-weight: 300;
}

